html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    min-height:100%;
    margin:0;
    padding:0;
    background-color:rgb(50,50,50);
    box-shadow:inset 0 0 2rem rgb(255 255 255 / 20%);
} 

h1 {
    margin:0;
}
a {
    text-decoration: none;
    color:white;
    margin-right: 1em;
    font-weight: bold;
    transition: 0.2s;
}

a:hover {
    color: #d42248;
    transition: 0.2s;
}